---
import Layout from '~/layouts/Layout.astro'
import SessionSchedule from '~/components/sessions/SessionSchedule'
---

<Layout title="Clinic Schedule">
  <h1 class="mb-6">Momentum Clinic Schedule</h1>
  <SessionSchedule type="clinic" client:only="react" />
</Layout>
