---
import Layout from '~/layouts/Layout.astro'
import SessionSchedule from '~/components/sessions/SessionSchedule'
---

<Layout title="Drop In Schedule">
  <h1 class="mb-6">Momentum Drop In Schedule</h1>
  <SessionSchedule type="dropin" client:only="react" />
</Layout>
