---
import Layout from '~/layouts/Layout.astro'
import ScheduleTable from '~/components/personal-schedule/ScheduleTable'
import schedule from '~/data/friday-schedule.json'
---

<Layout title="Friday Schedule">
  <h1>Momentum Intermediate League</h1>
  <h2 class="mb-6">@ The York School</h2>
  <ScheduleTable client:load schedule={schedule} />
</Layout>
