--- 
import Layout from '../layouts/Layout.astro';
import ScheduleProxyTable from '../components/ScheduleProxyTable.astro';
---

<Layout title="Schedule">
  <main>
    <ScheduleProxyTable />
  </main>
</Layout>
