---
import ScoreCounter from '~/components/scoreboard/ScoreCounter'
import '~/styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Volleyball Scoreboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🏐</text></svg>"
    />
    <title>Scoreboard</title>
  </head>
  <body class="!bg-neutral-900 overflow-hidden">
    <ScoreCounter client:load />
  </body>
</html>
