---
import MenuButton from "./MenuButton"
---
<header class="bg-mist-900 text-mist-100 p-4 fixed top-0 left-0 right-0 z-30 flex justify-between items-center shadow-md">
    <div class="text-xl font-bold">
        🏐 Volleyball Dashboard
    </div>
    <MenuButton client:load/>
</header>
