---
import MenuButton from './MenuButton'
---

<header
  class="fixed top-0 right-0 left-0 z-30 flex items-center justify-between bg-mist-900 p-4 text-mist-100 shadow-md"
>
  <div class="text-xl font-bold">🏐 Volleyball Dashboard</div>
  <MenuButton client:load />
</header>
