---
import { ClientRouter } from 'astro:transitions'
import Header from '~/components/Header.astro'
import Sidebar from '~/components/Sidebar.astro'
import '~/styles/global.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🏐</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body class="bg-mist-800">
    <Header />
    <Sidebar />
    <main class="mt-16 p-6 md:ml-64">
      <slot />
    </main>
  </body>
</html>
